
<% @whiskeys.each do |x| %>
<div>NAME: <%= x.name %></div>
<div>REGION: <%= x.region %></div>
<div>COUNTRY: <%= x.country %></div>
<div>TYPE: <%= x.wtype %></div>
<div>MALT: <%= x.malt %></div>
<div>AGE: <%= x.age %></div>
<div>PRICE: $<%= x.price %></div>
<div>ABV: <%= x.abv %></div>
<div>EVENT: <%= x.event_id %></div>
<div>MEMBER: <%= x.member_id %></div>
<% end %>
