
<div class="picanddesc">
  <div class="whiskeypic" ><%= image_tag(@whiskey.pic1, :alt => "Photo Not Available") %></div>

    <div class="whiskeydesc" >
      <div>NAME: <%= @whiskey.name %></div>
      <div>REGION: <%= @whiskey.region %></div>
      <div>COUNTRY: <%= @whiskey.country %></div>
      <div>TYPE: <%= @whiskey.wtype %></div>
      <div>MALT: <%= @whiskey.malt %></div>
      <div>AGE: <%= @whiskey.age %></div>
      <div>PRICE: $<%= @whiskey.price %></div>
      <div>ABV: <%= @whiskey.abv %></div>
      <div>EVENT: <%= @whiskey.event.date %></div>
      <div>MEMBER: <%= @whiskey.member.first_name %> <%= @whiskey.member.last_name %></div>
    </div>

</div>
<!-- this section should show all comments from this whiskey id -->
    <div class="whiskeycomments">
      <%# @whiskey.comment.each do |x| %>
      <div><%#= x.member_id %></div>
      <div><%#= x.comment %></div>
      <%# end %>
    </div>

<div class="whiskeynewcomment">
<br>
<div class="enterbutton"><button type="submit" class="btn btn-success btn-sm">Add A Comment</button></div>

</div>
<!-- this section will allow users to make new comments -->
