<div class="" >
  <div>ID: <%= @member.id %></div>
  <div>FIRST NAME: <%= @member.first_name %></div>
  <div>LAST NAME: <%= @member.last_name %></div>
  <div>EMAIL: <%= @member.email %></div>
  <div>WHISKEYS: <%= @member.whiskeys.all %></div>

</div>
