<div class="" >
  <div>ID: <%= @event.id %></div>
  <div>DATE: <%= @event.date %></div>
  <div>HOST: <%= @event.host %></div>
  <div>THEME: <%= @event.theme %></div>
  <div>DESCRIPTION: <%= @event.description %></div>
  <div>WHISKEYS: <%= @event.whiskeys.all %></div>

</div>
